<div class="flex-container">
  <dx-toolbar [items]="toolbarContent" id="toolbar"></dx-toolbar>

  <dx-drawer [openedStateMode]="selectedOpenMode"
             [position]="selectedPosition"
             [revealMode]="selectedRevealMode"
             template="template"
             [(opened)]="isDrawerOpen"
             [height]="400"
             [closeOnOutsideClick]="true">
    <div *dxTemplate="let data of 'template'" style="width: 200px">
      <dx-list class="panel-list"
               [dataSource]="navigation"
               (onItemClick)="onItemClick($event)"></dx-list>
    </div>
    <div id="content">
      <router-outlet></router-outlet> <!-- Replace innerHTML with router-outlet -->
    </div>
  </dx-drawer>
</div>
